[Unit]
Description=Periodic Christiania Deep Runtime Health Check

[Timer]
OnBootSec=15m
OnUnitActiveSec=6h
Persistent=true
RandomizedDelaySec=5m
Unit=christiania-health.service

[Install]
WantedBy=timers.target
